/* Estilos gerais para a aplicação */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #333;
}

/* Estilos para os itens da lista de jogadores */
.player-item {
  list-style: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
}

.player-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.player-item h3 {
  margin: 0 10px;
  flex-grow: 1;
}

.player-item select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Cores para respostas corretas e incorretas */
.correct {
  background-color: #ccffcc; /* verde claro */
  border-color: #00cc00; /* verde */
}

.incorrect {
  background-color: #ffcccc; /* vermelho claro */
  border-color: #cc0000; /* vermelho */
}
