/* Estilos gerais para a aplicação */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: auto;
}

h1 {
  color: #333;
  margin: 20px 0;
}

/* Estilos para os itens da lista de jogadores */
.player-item {
  list-style: none;
  padding: 20px;
  margin: 10px 0;
  border: 2px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}

.player-info {
  margin-bottom: 10px;
}

.player-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.player-info h3 {
  margin: 10px 0;
}

/* Estilos para os botões dos times */
.team-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button img {
  width: 30px;
  height: 30px;
}

button:disabled {
  cursor: default;
  opacity: 0.7;
}

/* Cores para respostas corretas e incorretas */
.correct {
  background-color: #ccffcc; /* verde claro */
  border-color: #00cc00; /* verde */
}

.incorrect {
  background-color: #ffcccc; /* vermelho claro */
  border-color: #cc0000; /* vermelho */
}
