.App {
  background-image: linear-gradient(to right, #004d00 12.5%, #008000 12.5%, #008000 25%, #004d00 25%, #004d00 37.5%, #008000 37.5%, #008000 50%, #004d00 50%, #004d00 62.5%, #008000 62.5%, #008000 75%, #004d00 75%, #004d00 87.5%, #008000 87.5%);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Bebas Neue', sans-serif;
}

.player-info {
  text-align: center;
}

.player-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Circular */
  border: 3px solid white; /* Contorno branco */
}

.team-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px; /* Raio no quadrado quadriculado */
  background-color: #442d7b; /* Leve transparência */
}

button {
  background-color: #442d7b; /* Verde escuro */
  border: none;
  color: white;
  padding: 10px;
  width: 70px; /* Tamanho fixo */
  height: 70px; /* Tamanho fixo */
  border-radius: 5px; /* Raio leve */
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(101, 72, 169); /* Verde claro neon */
}

button.correct {
  background-color: #00ff00; /* Verde claro neon */
}

button.incorrect {
  background-color: #ff0000; /* Vermelho forte */
}

button:disabled {
  opacity: 0.6;
  cursor: default;
}

.loading {
  color: white;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #004d00 12.5%, #008000 12.5%, #008000 25%, #004d00 25%, #004d00 37.5%, #008000 37.5%, #008000 50%, #004d00 50%, #004d00 62.5%, #008000 62.5%, #008000 75%, #004d00 75%, #004d00 87.5%, #008000 87.5%);
}
